<section id="todos">
    <div class="container">
        <div class="row">
            <header>
                <h1>Todos</h1>
                <mat-divider></mat-divider>
            </header>
        </div>
        <div class="row">
            <div class="col-12" *ngFor="let todo of todos">
                <app-todo-item (selectTodo)="selectTodo($event)" (removeTodoWithId)="removeTodo($event)" [todo]="todo">
                </app-todo-item>
            </div>
        </div>
    </div>
</section>

<button (click)="openBottomSheet()">open</button>